<div class="search">
  <div class="row">
    <div class="text-center">
      <!--form_tag は、form_for と違って、モデルのインスタンスを指定せず <form> タグを生成するメソッド-->
      <!--method: :get で GET メソッドを指定していることも確認してください。-->
      <!--これを指定しないと POST メソッドになってしまいます。-->
      <%= form_tag(new_item_path, method: :get, class: 'form-inline') do %>
        <div class="form-group">
          <!--text_field_tag も同様にモデルのインスタンスを指定せず、<input> タグを生成するメソッド-->
          <!--モデルのインスタンスがあったときは f.text_field のように f がありましたが、form_tag の場合にはありません-->
          <%= text_field_tag :keyword, @keyword, class: 'form-control input-lg', placeholder: "キーワードを入力", size: 40 %>
        </div>
        <%= submit_tag '商品を検索', class: 'btn btn-success btn-lg' %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'items', items: @items %>